In [67]:
import pandas as pd 
import numpy as np

# Users data

In [70]:
users_data=pd.read_csv("user_data.csv",encoding="latin1")

In [71]:
users_data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [72]:
users_data.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [73]:
users_data.drop(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color','profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created','tweet_location'],inplace=True,axis=1)

In [74]:
users_data.drop(['tweet_id','user_timezone'],inplace=True,axis=1)

In [75]:
users_data=users_data[users_data.gender!="male"]

In [76]:
users_data=users_data[users_data.gender!="brand"]

In [78]:
users_data.insert(0, 'id', [i for i in range(1,len(users_data['name'])+1)])

In [79]:
!pip install iso3166
from iso3166 import countries
list_of_locations=[]
for i in countries:
    list_of_locations.append(i.name)

Requirement already satisfied: iso3166 in c:\users\sgolaya\anaconda3\lib\site-packages (2.0.2)

In [80]:
location=[]
import random
for i in range(0,7914):
    location.append(random.choice(list_of_locations))

In [81]:
users_data['location']=location

In [82]:
users_data = users_data.rename(columns={'tweet_location': 'location'})

In [83]:
users_data.insert(3, 'email_id', [i+"@gmail.com" for i in users_data['name']])

In [85]:
age=[]
list1=[j for j in range(10,50)]
import random
for i in range(0,7914):
    age.append(random.choice(list1))

In [86]:
users_data.insert(4, 'age', age)

In [87]:
interests=['Web Development','Environmental Science','Food Sciences and Technology','Forestry','Genetics','Geological and Earth Sciences','Horticulture Science','Marine/Aquatic Biology','Microbiology and Immunology','Natural Resources Conservation, General','Natural Resources Management','Physical Sciences, General','Physics','Science Education','Wildlife and Wildlands Management','Zoology','Agronomy and Crop Science','Animal Sciences','Astronomy','Atmospheric Sciences and Meteorology','Biochemistry and Biophysics','Biology, General','Cell/Cellular Biology','Chemistry','Ecology','Actuarial Science','Applied Mathematics','Business/Management Quantitative Methods, General','Computer and Information Sciences, General','Computer Network/Telecommunications','Computer Science and Programming','Computer Software and Media Application','Computer System Administration','Data Management Technology','Information Science','Management Information Systems','Mathematics Education','Mathematics, General','Statistics','Webpage Design','Athletic Training','Chiropractic (Pre-Chiropractic)','Dentistry (Pre-Dentistry)','Emergency Medical Technology','Food and Nutrition','Health/Medical Technology, General','Medical Laboratory Technology','Medical Radiologic Technology','Medicine (Pre-Medicine)','Nuclear Medicine Technology','Nursing, Practical/Vocational (LPN)','Nursing, Registered (BS/RN)','Optometry (Pre-Optometry)','Osteopathic Medicine','Pharmacy (Pre-Pharmacy)','Physical Therapy (Pre-Physical Therapy)','Physical Therapy (Pre-Physical Therapy)','Physician Assisting','Respiratory Therapy Technology','Surgical Technology','Veterinarian Assisting/Technology','Veterinary Medicine (Pre-Vet)','Aeronautical/Aerospace Engineering Technology','Aerospace/Aeronautical Engineering','Agricultural/Bioengineering','Architectural Drafting/CAD Technology','Architectural Engineering','Architectural Engineering Technology','Architecture, General','Automotive Engineering Technology','Biomedical Engineering','Chemical Engineering','Civil Engineering','Civil Engineering Technology','Computer Engineering','Computer Engineering Technology','Construction Engineering/Management','Construction/Building Technology','Drafting/CAD Technology, General','Electrical, Electronic, and Communication Engineering','Electrical/Electronics Engineering Technology','Electromechanical/Biomedical Engineering Technology','Engineering (Pre-Engineering), General','Engineering Technology, General','Environmental Control Technologies','Environmental Health Engineering','Industrial Engineering','Industrial Production Technologies','Mechanical Drafting/CAD Technology','Mechanical Engineering','Mechanical Engineering Technology','Military Technologies','Nuclear Engineering','Graphic Design','Quality Control and Safety Technologies','Surveying Technology','Musical Instruments','Business Finance']

In [88]:
interest=random.choices(interests,k=len(users_data['name']))

In [89]:
users_data.insert(5, 'interest', interest)

In [90]:
##since it is an all women site
users_data.drop(['gender'],inplace=True, axis=1)

In [91]:
users_data.to_csv("users_final.csv",index=False)

# Jobs data

In [94]:
jobs=pd.read_csv("Data Science Jobs Salaries.csv")

In [95]:
jobs.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [96]:
jobs.drop(['work_year','salary', 'salary_currency','remote_ratio','employment_type','company_location'],inplace=True,axis=1)

In [97]:
##MI=Mid level, SE=Senior level, EN=entry level, EX=executive level
jobs['experience_level'] = jobs['experience_level'].replace(['MI','SE','EN','EX'],[3,7,0,10])

In [98]:
jobs = jobs.rename(columns={'experience_level': 'work_experience_required(in years)'})

In [99]:
jobs.insert(0, 'job_id', [i for i in range(1,len(jobs['job_title'])+1)])

In [100]:
list_of_locations=[]
for i in countries:
    list_of_locations.append(i.name)

In [101]:
country_name=[]
for i in jobs['employee_residence']:
    for j in countries:
        if i == j.alpha2:
            country_name.append(j.name)

In [102]:
jobs['employee_residence']=country_name

In [104]:
keys=['Data Science Consultant', 'Data Scientist',
       'Head of Data Science', 'Head of Data',
       'Machine Learning Engineer', 'Data Analytics Manager',
       'Research Scientist', 'Data Analyst', 'Data Engineer',
       'Data Science Engineer', 'Manager Data Science',
       'Data Engineering Manager', 'AI Scientist',
       '3D Computer Vision Researcher', 'ML Engineer',
       'Applied Data Scientist', 'Director of Data Science',
       'Data Analytics Engineer', 'Lead Data Analyst', 'BI Data Analyst',
       'Machine Learning Scientist',
       'Machine Learning Infrastructure Engineer',
       'Marketing Data Analyst', 'Lead Data Engineer',
       'Director of Data Engineering',
       'Computer Vision Software Engineer', 'Financial Data Analyst',
       'Cloud Data Engineer', 'Principal Data Analyst',
       'Big Data Architect', 'Lead Data Scientist', 'Data Architect',
       'Big Data Engineer', 'Staff Data Scientist',
       'Data Science Manager', 'Business Data Analyst',
       'Principal Data Scientist', 'Computer Vision Engineer',
       'Product Data Analyst', 'Principal Data Engineer',
       'Finance Data Analyst', 'Applied Machine Learning Scientist',
       'Data Specialist']

In [105]:
d=dict.fromkeys(keys)

In [106]:
d['Data Science Consultant']=['Data Science','Data Analytics']
d['Data Scientist']=['Data Science','Data Analytics']
d['Head of Data Science']=['Data Science','Management']
d['Head of Data']=['Statistics','Data Analytics']
d['Machine Learning Engineer']=['Machine Learning','Artificial Intelligence']
d['Data Analytics Manager']=['Management','Data Analytics']
d['Research Scientist']=['Research','science and numerics']
d['Data Analyst']=['Statistics','Data Analytics']
d['Data Engineer']=['Data Science','Data Analytics']
d['Data Science Engineer']=['Data Science','Data Analytics']
d['Manager Data Science']=['Data Science','Management']
d['Data Engineering Manager']=['Data engineer','management']
d['AI Scientist']=['Artificial intelligence','Data Science']
d['3D Computer Vision Researcher']=['Computer Vision','Research']
d['ML Engineer']=['Machine Learning','Engineer']
d['Applied Data Scientist']=['Applied Science','Data Analytics']
d['Director of Data Science']=['Data Science','Management']
d['Data Analytics Engineer']=['Engineer','Data Analytics']
d['Lead Data Analyst']=['Management','Data Analytics']
d['BI Data Analyst']=['PowerBI','Data Analytics']
d['Machine Learning Scientist']=['Machine Learning','Research']
d['Machine Learning Infrastructure Engineer']=['Machine Learning','Infrastructure']
d['Marketing Data Analyst']=['Marketing','Data Analytics']
d['Lead Data Engineer']=['Executive','Data engineer']
d['Director of Data Engineering']=['Executive','Management']
d['Computer Vision Software Engineer']=['Computer Vision','Software Development']
d['Cloud Data Engineer']=['Cloud computing','Data engineer']
d['Principal Data Analyst']=['Executive','Data Analytics']
d['Big Data Architect']=['DBMS','Hadoop-Apache']
d['Lead Data Scientist']=['Data Science','Data Analytics']
d['Financial Data Analyst']=['Finance','Data Analytics']
d['Data Architect']=['DBMS','Data Analytics']
d['Big Data Engineer']=['DBMS','Hadoop-Apache']
d['Staff Data Scientist']=['Data Science','Data Analytics']
d['Data Science Manager']=['Data Science','Management']
d['Business Data Analyst']=['PowerBI','Data Analytics']
d['Principal Data Scientist']=['Executive','Data Science']
d['Computer Vision Engineer']=['Computer Vision','Deep Learning']
d['Product Data Analyst']=['Product Management','Data Analytics']
d['Principal Data Engineer']=['Executive','Data Analytics']
d['Finance Data Analyst']=['Finance','Data Analytics']
d['Applied Machine Learning Scientist']=['Applied Science','Machine Learning']
d['Data Specialist']=['DBMS','Data Analytics']

In [43]:
skill1=[]
skill2=[]
for x in jobs['job_title']:
    for y in d.keys():
        if x==y:
            skill1.append(d[y][0])
            skill2.append(d[y][1])

In [44]:
jobs['Skill_required_1']=skill1
jobs['Skill_required_2']=skill2

In [46]:
jobs.to_csv('jobs_final.csv',index=False)

# Courses data

In [48]:
courses=pd.read_csv("udemy_courses.csv")

In [49]:
courses.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [51]:
courses.drop(['num_reviews','num_lectures','published_timestamp'],axis=1,inplace=True)

In [52]:
courses['subject'].value_counts()

Web Development        1200
Business Finance       1195
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

In [53]:
courses = courses.rename(columns={'price': 'price(USD)'})

In [54]:
courses = courses.rename(columns={'content_duration': 'duration(Hours)'})

In [55]:
courses.to_csv('courses_final.csv',index=False)

# Work profile of user

In [56]:
work_info=users_data['id']

In [57]:
work_info

4           1
5           2
8           3
9           4
12          5
         ...
20039    7910
20044    7911
20045    7912
20048    7913
20049    7914
Name: id, Length: 7914, dtype: int64

In [58]:
work_info=pd.DataFrame(work_info)

In [59]:
work_exp=[]
list1=[j for j in range(0,11)]
import random
for i in range(0,len(users_data['name'])):
    work_exp.append(random.choice(list1))
work_info['work_exp(in years)']=work_exp

In [60]:
skills_1=[]
skills_2=[]
for i in range(0,len(users_data['name'])):
    skills_1.append(random.choice(skill1))
    skills_2.append(random.choice(skill2))

In [61]:
work_info['skill1']=skills_1
work_info['skill2']=skills_2

In [62]:
work_info.to_csv("work_profile_final.csv",index=False)